<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lista peliculas</title>
    <!-- Bootstrap Core CSS -->
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href='css/custom.css' rel='stylesheet'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
</head>
<body>
    <div class='container'>
        <div class='row'>

		
			<!-- Repetir esto para cada pelicula -->
            <article class='col-md-4 article-intro'>
                <a href='#'>
                    <img class='img-responsive img-rounded' src='http://ia.media-imdb.com/images/M/MV5BMjA5NTYzMDMyM15BMl5BanBnXkFtZTgwNjU3NDU2MTE@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''>
                </a>
                <h3>
                    <a href='#'>Back to the future</a>
                </h3>
				<ul>
					<li>Género:Aventura</li>
					<li>Puntaje:86</li>
					<li>Duración:116</li>					
				</ul>
                <p>A young man is accidentally sent thirty years into the past in a time-traveling DeLorean invented by his friend, Dr. Emmett Brown, and must make sure his high-school-age parents unite in order to save his own existence.</p>
            </article>
			<!-- Repetir esto para cada pelicula -->
 
			
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src='js/jquery-1.11.3.min.js'></script>
    <!-- Bootstrap Core JavaScript -->
    <script src='js/bootstrap.min.js'></script>
	<!-- IE10 viewport bug workaround -->
	<script src='js/ie10-viewport-bug-workaround.js'></script>
	<!-- Placeholder Images -->
	<script src='js/holder.min.js'></script>
</body>
</html>
